<p>cart works!</p>
<a routerLink="/shipping">Shipping</a>
<div *ngFor="let product of products">
    <h3><a [title]="product.name + ' detail'">{{product.name}}</a></h3>
</div>

<form [formGroup]='checkoutForm' (ngSubmit) = 'onSubmit(checkoutForm.value)'>
    <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name">
      </div>
    
      <div>
        <label for="address">
          Address
        </label>
        <input id="address" type="text" formControlName="address">
      </div>

    <button class="button" type="submit">Submit</button>
</form>